@import url(https://fonts.googleapis.com/css?family=Dosis|Architects+Daughter|Open+Sans);

$font: Open Sans, Helvetica, Arial, sans-serif;
%font-stack{
	font-family: Dosis, Arial, sans-serif;
	font-weight: bold;
	font-size: 22px;
}

$ocean: #00C0FF;
$icon: 3em;


html{
    background: lightgray;
}
body{
    width: 960px;
    margin: 10px auto;
    font-family: $font;

    #title{
        background: white;
        margin-top: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p{
        font-size: 16px;
        text-align: center;
    }
    
}
#title2, #title3, #title4{
	@extend #title;
	height: 600px;
}

.fa{
    font-size: $icon !important;
}

h1 {
    text-align: center;
    border: 3px solid red;
    padding: 20px;
    
    em{
        color: $ocean;
    }
}


#btn{
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: red;
    background: $ocean;
    width: 160px;
    font-family: Dosis;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 15px 5px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
    outline: none;
    
    &:hover{
        box-shadow: 0px 25px 5px -20px rgba(0,0,0,0.2);
    }
}

#btn-1, #btn-2, #btn-3, #box-button,
#box-button2, #grow-button{
	@extend #btn;
	margin-right: 15px;
}

#done{
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

//Dig until you hit the bottom
.dig-container{
	display: flex;
	flex-direction: column;
}
#button{
	display: flex;
	justify-content: center;
}
.dig-container span, .stop{
	display: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin: 10px auto;
	text-align: center;
	padding: 10px 15px;
	border-bottom: 2px solid rgba(0,0,0,0.4);
	width: 30px;
}
.stop{
	border-bottom: 9px solid rgba(0,0,0,0.4);
	width: 150px;
	box-shadow: 0 15px 3px -5px rgba(0,0,0,0.2)
}

//Box Run
.box{
	padding: 10px;
	width: 100px;
	height: 60px;
	background: green;
	margin: 30px auto;
	border-radius: 3px;
	position: relative;
	
	p{
		@extend %font-stack;
		margin: 0 auto 15px auto;
	}
}
#box-button2{
	display: none;
}


//Grow Building
#title4 h1{
	letter-spacing: 2px;
}