@import url(https://fonts.googleapis.com/css?family=Dosis|Architects+Daughter|Open+Sans);

$font: Open Sans, Helvetica, Arial, sans-serif;
$ocean: #00C0FF;
$icon: 3em;


html{
    background: lightgray;
}
body{
    width: 960px;
    margin: 10px auto;
    font-family: $font;

    #title{
        background: white;
        margin-top: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p{
        font-size: 16px;
        text-align: center;
    }
    
}
#title2{
	@extend #title;
}

.fa{
    font-size: $icon !important;
}

h1 {
    text-align: center;
    border: 3px solid red;
    padding: 20px;
    
    em{
        color: $ocean;
    }
}


#btn{
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: red;
    background: $ocean;
    width: 160px;
    font-family: Dosis;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 15px 5px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
    outline: none;
    
    &:hover{
        box-shadow: 0px 25px 5px -20px rgba(0,0,0,0.2);
    }
}

#btn-2{
	@extend #btn;
}
	
#done{
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

//Dig until you hit the bottom
.dig-container{
	display: flex;
	flex-direction: column;
}
	.dig-container span, .stop{
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	padding: 10px 15px;
//Each child increses width and border
	&:nth-child(1){
	border-bottom: 2px solid rgba(0,0,0,0.4);
	width: 30px;
	}

	&:nth-child(2){
	border-bottom: 3px solid rgba(0,0,0,0.4);
	width: 30px;
	}
	&:nth-child(3){
	border-bottom: 4px solid rgba(0,0,0,0.4);
	width: 60px;
	}
	&:nth-child(4){
	border-bottom: 5px solid rgba(0,0,0,0.4);
	width: 90px;
	}
	&:nth-child(5){
	border-bottom: 6px solid rgba(0,0,0,0.4);
	width: 120px;
	}
}
.stop{
	display: none;
	border-bottom: 7px solid rgba(0,0,0,0.4);
	width: 150px;
	box-shadow: 0 15px 3px -5px rgba(0,0,0,0.2)
}
