@import url(https://fonts.googleapis.com/css?family=Dosis|Architects+Daughter|Open+Sans);
/* line 8, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
html {
  background: lightgray; }

/* line 11, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
body {
  width: 960px;
  margin: 10px auto;
  font-family: Open Sans, Helvetica, Arial, sans-serif; }
  /* line 16, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
  body #title, body #title2 {
    background: white;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* line 25, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
  body p {
    font-size: 16px;
    text-align: center; }

/* line 31, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
#title2 {
  height: 600px; }

/* line 36, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
.fa {
  font-size: 3em !important; }

/* line 40, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
h1 {
  text-align: center;
  border: 3px solid red;
  padding: 20px; }
  /* line 45, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
  h1 em {
    color: #00C0FF; }

/* line 51, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
#btn, #btn-1, #btn-2, #btn-3 {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: red;
  background: #00C0FF;
  width: 160px;
  font-family: Dosis;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 15px 5px -10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 300ms;
  outline: none; }
  /* line 69, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
  #btn:hover, #btn-1:hover, #btn-2:hover, #btn-3:hover {
    box-shadow: 0px 25px 5px -20px rgba(0, 0, 0, 0.2); }

/* line 74, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
#btn-1, #btn-2, #btn-3 {
  margin-right: 15px; }

/* line 79, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
#done {
  border: 2px solid green;
  padding: 10px;
  margin: 10px; }

/* line 86, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
.dig-container {
  display: flex;
  flex-direction: column; }

/* line 90, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
#button {
  display: flex;
  justify-content: center; }

/* line 94, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
.dig-container span, .stop {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin: 10px auto;
  text-align: center;
  padding: 10px 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  width: 30px; }

/* line 105, /Users/darrellwashington/Documents/JS-jQuery-Projects/css/main.scss */
.stop {
  border-bottom: 9px solid rgba(0, 0, 0, 0.4);
  width: 150px;
  box-shadow: 0 15px 3px -5px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=main.css.map */